<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>演示demo</title>
    <link rel="stylesheet" type="text/css" href="/static/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">

        <div class="navbar-header">
          <a class="navbar-brand" href="#">演示demo</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <!--
            <li><a href="./reglog.html">注册</a></li>
            <li><a href="./reglog.html">登录</a></li>
            -->
            <li id="naviNickName"></li>
            <li><a href="/logout" id="_logout">注销</a></li>
            <li class="navi-avatar" id="naviAvatar">
              <img src="">
            </li>
          </ul>
        </div>

      </div>
    </nav>

    <div class="main">
      <section class="left">
        <h3>发布文章：</h3>
        <div class="publish">
          <textarea class="form-control" rows="6" id="content"></textarea>
          <button type="button" class="btn btn-primary btn-lg" id="publish">发布</button>
        </div>
        <h3>文章列表：</h3>
        <div class="list" id="list">
          <!--

          <div class="list-item">
            <div class="list-user">
              <div class="avatar"></div>
              <div class="nickname">桂林</div>
            </div>
            <div class="list-content">跨浏览器展现我们总结的最佳实践是：强烈建议尽可能使用元素来获得在各个浏览器上获得相匹配的绘制效果。另外，我们还发现了 Firefox版本的浏览器上出现的一个 bug，其表现是：阻止我们为基于元素所创建的按钮设置 line-height 属性，这就导致在 Firefo浏览器上不能完全和其他按钮保持一致的高度。</div>
          </div>

          <div class="list-item">
            <div class="list-user">
              <div class="avatar"></div>
              <div class="nickname">桂林</div>
            </div>
            <div class="list-content">跨浏览器展现我们总结的最佳实践是：强烈建议尽可能使用元素来获得在各个浏览器上获得相匹配的绘制效果。另外，我们还发现了 Firefox版本的浏览器上出现的一个 bug，其表现是：阻止我们为基于元素所创建的按钮设置 line-height 属性，这就导致在 Firefo浏览器上不能完全和其他按钮保持一致的高度。</div>
          </div>

          <div class="list-item">
            <div class="list-user">
              <div class="avatar"></div>
              <div class="nickname">桂林</div>
            </div>
            <div class="list-content">跨浏览器展现我们总结的最佳实践是：强烈建议尽可能使用元素来获得在各个浏览器上获得相匹配的绘制效果。另外，我们还发现了 Firefox版本的浏览器上出现的一个 bug，其表现是：阻止我们为基于元素所创建的按钮设置 line-height 属性，这就导致在 Firefo浏览器上不能完全和其他按钮保持一致的高度。</div>
          </div>
          -->

        </div>
        <div class="loadmore" id="loadmore">加载更多</div>
      </section>
      <section class="right">
        <div class="notice">
          <h3>通知列表：</h3>
          <div id="notice">
            <!--
            <div class="alert alert-info alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong>Warning!</strong> Better check yourself, you're not looking too good.
            </div>
            <div class="alert alert-info alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong>Warning!</strong> Better check yourself, you're not looking too good.
            </div>
            <div class="alert alert-info alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong>Warning!</strong> Better check yourself, you're not looking too good.
            </div>
            -->
          </div>
        </div>
        <div class="userlist">
          <h3>用户列表：</h3>
          <div id="userlist">
            <!--
            <div class="user">
              <div class="avatar"></div>
              <div class="nickname">桂林</div>
              <div class="follow" data-userId="1">+ 关注</div>
            </div>
            <div class="user">
              <div class="avatar"></div>
              <div class="nickname">L君</div>
              <div class="follow" data-userId="2" data-isfollow="1">已关注</div>
            </div>
            <div class="user">
              <div class="avatar"></div>
              <div class="nickname">桂林</div>
              <div class="follow" data-userId="1">+ 关注</div>
            </div>
            -->
          </div>
        </div>
      </section>
    </div>

    <div class="cover" id="cover"></div>
    <div class="panel panel-default">
      <div class="panel-body">
        <input type="file" name="" id="uploadfile">
        <button type="button" class="btn btn-primary" id="upload">上传</button>
        <div class="upload-avatar" id="uploadAvatar">
          <img src="">
        </div>
      </div>
    </div>

    <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/static/js/ui.js"></script>
    <script src="/static/js/api.js"></script>
    <script src="/static/js/index.js"></script>
  </body>
</html>
